@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

/* .aboutImage {
  width: 2px;
  height: 2px;
  border-radius: 20%;
  background-image: url("https://images.unsplash.com/photo-1612838320302-4b3b3b3b3b3b");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  margin-right: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
} */


.aboutImage {
  width: 10px; /* Adjust width as needed */
  height: 10px; /* Adjust height as needed */
  border-radius: 20%;
  background-image: url("https://images.unsplash.com/photo-1612838320302-4b3b3b3b3b3b");
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  margin-right: 20px; /* Adjust margin as needed */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
 
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(75, 0, 130, 0.6) 0%, /* Indigo color */
    rgba(255, 0, 255, 0.4) 100% /* Magenta color */
    
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
    padding-left: 15px; /* Add padding to avoid touching the border */
    padding-right: 15px; /* Add padding on the right side */
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 20px;
  }

  .aboutItemText p {
    margin-left: 0; /* Ensure the text does not shift unnecessarily */
  }
}






.aboutItemText p {
  font-size: 25px;
  text-align: justify; /* Justifies the paragraph content */
  margin-left: 15px; /* Increases space between the cursor image and the text */
}

.aboutItem:hover {
  background-size: 100% 100%;
  background-image: linear-gradient(
    90deg,
    rgba(75, 0, 130, 0.6) 0%, /* Indigo color */
    rgba(255, 0, 255, 0.4) 100% /* Magenta color */
  );
}
